@font-face {
  font-family: Montserrat;
  src: url("../src/assets/fonts/Montserrat-Regular.ttf");
}



@import "tailwindcss";

@theme{
  --font-Montserrat:Montserrat, "sans-serif";
}
*{
    cursor: none;
}
#light{
    background-color:white;
    color:black;
}
#dark{
    background-color: black;
    color: white;
}
.custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .custom-scrollbar {
    scrollbar-width: none;
  }
  .custom-scrollbar {
    -ms-overflow-style: none;
  }
.my{
  background-color: red;
}